
        </div>

        <footer>
            <div class="col-sm-6 col-sm-offset-3">&copy; 2015 - Rich Freeman - COMP2068</div>
            
            <!-- social -->
            <div>
                <a href="https://www.facebook.com/herb.tarlek.35"><img src="/images/facebook.png" title="Facebook" /></a>
                <a href="http://twitter.com/infrontofthenet"><img src="/images/twitter.png" title="Twitter" /></a>
                <a href="http://github.com/ifotn"><img src="/images/github.png" title="GitHub" /></a>
                <a href="https://ca.linkedin.com/pub/rich-freeman/0/502/127"><img src="/images/linkedin.png" title="LinkedIn" /></a>
                <a href="https://www.youtube.com/channel/UC0MlFjC4Mj_fhrF8NRFtc0A"><img src="/images/youtube.png" title="YouTube" /></a>
            </div>
            <!-- end social -->
        </footer>

        <!-- Latest jQuery -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
    </body>
</html>