<%- include partials/header.ejs %>

<h2>About</h2>

<div class="jumbotron"><p>I have been a web and application developer for over 15 years.  In this period I have worked primarily with back-end server technologies such as PHP, ASP.NET, classic ASP, JavaScript, and multiple databases.  My projects have included work in the fields of e-commerce, transportation, retail, engineering, health care, and non-for-profit, among others.  For me, programming is really just a big logic puzzle.  How do I take a real-world challenge a client has - like moving their daily processes off of paper - to create an easy-to-use, effective web application that makes their job or life better? 
</p>
<p>For the past 6 years I have taught web programming at Georgian College and have also served as a volunteer mentor at various workshops by the Barrie Chapter of <a href="http://ladieslearningcode.com" title="Ladies Learning Code">Ladies Learning Code</a>.</p>

</div>
<div class="jumbotron">
<span class="text-center btn-xs btn-warning">Testimonials</span> 
<p>"I have worked with Rich on many large and small projects. Rich is very knowledgeable and easily translates technical terms into English for someone like me who does not have a programer/technical background. I would recommend Rich to anyone looking for a programmer." - Tara T.</p>
<p>"I had the distinct pleasure of having Rich as an instructor at Georgian College. Rich is patient and cares deeply about his students’ success. He demonstrates outstanding leadership and maintains a clear sense of purpose. I could always depend on him for assistance and problem solving tactics. I can certainly say I learned a lot from Rich and consider him an exceptional mentor." - Amy C.</p>


</div>
 <p class="text-center"><a href="/projects" title="Projects" class="btn btn-large btn-warning">Browse my work >></a></p>   
<%- include partials/footer.ejs %>
