<%- include partials/header.ejs %>

<h2>Projects</h2>

<div class="row text-center">
    <div class="col-lg-4">
        <img class="img-circle project" src="/images/projects/healthscore.png" title="Healthscore" />
        <h4>Healthscore</h4>
        <p>Online Health Assessment</p>
        <a href="http://www.healthscore.ca" class="btn btn-warning">View Site >></a>
    </div>
    <div class="col-lg-4">
         <img class="img-circle project" src="/images/projects/kw.png" title="Knowles Woolsey" />
        <h4>Knowles Woolsey</h4>
        <p>Barrie Area Realtor</p>
        <a href="http://www.knowleswoolsey.com" class="btn btn-warning">View Site >></a>
    </div>
    <div class="col-lg-4">
        <img class="img-circle project" src="/images/projects/varisafe.png" title="VariSAFE" />
        <h4>VariSAFE Education</h4>
        <p>Child Safety Training Courses</p>
        <a href="http://www.varisafe.ca" class="btn btn-warning">View Site >></a>
    </div>
    
</div>
<hr />
<div class="row text-center list-group-item btn-default">
    <div class="col-lg-4">
        <img class="img-circle project" src="/images/projects/ofsc.png" title="OFSC" />
        <h4>OFSC</h4>
        <p>Snowmobile Federation Contact Manager</p>
        <a href="http://www.ofsconline.ca" class="btn btn-warning">View Site >></a>
    </div>
    <div class="col-lg-4">
        <img class="img-circle project" src="/images/projects/clc.png" title="Community Legal Clinic" />
        <h4>Community Legal Clinic</h4>
        <p>Simcoe County Legal Aid</p>
        <a href="http://www.communitylegalclinic.ca" class="btn btn-warning">View Site >></a>
    </div>
    <div class="col-lg-4">
        <img class="img-circle project" src="/images/projects/ct.png" title="Chantler Transport" />
        <h4>Chantler Transport</h4>
        <p>Secure Fleet Management</p>
        <a href="https://secure.chantlertransport.com" class="btn btn-warning">View Site >></a>
    </div>
    
</div>
<hr />
<div class="row text-center">
    <div class="col-lg-4">
        <img class="img-circle project" src="/images/projects/stagedresults.png" title="Staged Results" />
        <h4>Staged Results</h4>
        <p>Home Staging Site</p>
        <a href="http://www.stagedresults.com" class="btn btn-warning">View Site >></a>
    </div>
    <div class="col-lg-4">
        <img class="img-circle project" src="/images/projects/lb.png" title="Workforce Planning Ontario" />
        <h4>Workforce Planning Ontario</h4>
        <p>Partnership Database</p>
        <a href="http://www.workforceplanningontario.ca" class="btn btn-warning">View Site >></a>
    </div>
    <div class="col-lg-4">
        <img class="img-circle project" src="/images/projects/bw.png" title="BuildingWeb" />
        <h4>BuildingWeb</h4>
        <p>Property Management Services</p>
        <a href="http://www.buildingweb.com" class="btn btn-warning">View Site >></a>
    </div>
</div>

<%- include partials/footer.ejs %>
