<%- include partials/header.ejs %>

<h2>Services</h2>

<ul class="list-group">
    <li class="list-group-item btn-warning">Web Development</li>
    <li class="list-group-item btn-default">Web Design</li>
    <li class="list-group-item btn-warning">Systems Analysis</li>
    <li class="list-group-item btn-default">Systems Integration</li>
    <li class="list-group-item btn-warning">Web Training</li>
    <li class="list-group-item btn-default">I.T. Consulting</li>
</ul>
    
<%- include partials/footer.ejs %>
