<%- include partials/header.ejs %>

<h2>Thanks!</h2>

<div class="jumbotron"><p>Glad you reached out.  I'll have a look as soon as I can and follow up with you.</p>
<p>Feel free to continue browsing my site.  Why not check out some of my work?
</p>

<p class="text-center"><a href="/projects" title="Projects" class="btn btn-large btn-warning">Show Projects >></a></p>

</div>
    
<%- include partials/footer.ejs %>
